.AppLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  user-select: none;
  transition: 0.2s;
  animation: AppLogo-spin infinite 8s linear;
}

@keyframes AppLogo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
